@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply text-[#1C1917] bg-[#FAF9F6];
  }
  
  ::selection {
    @apply bg-[#292524] text-[#FAF9F6];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
